@media (max-width: 250px) {
  html,
  body {
    overflow-x: auto;
  }

  .search-card {
    width: 200px;
    min-width: 200px;
    grid-template-columns: 1fr;
  }

  .search-card .field,
  .search-card select,
  .search-card input,
  .select-display {
    width: 100%;
  }

  .btn-lupa {
    right: 8px;
    bottom: 8px;
    transform: scale(0.9);
  }

  .body2 .container {
    min-width: 200px;
  }

  .body2 #lista-vuelos,
  .body2 .tarjeta-vuelo {
    width: 200px;
    min-width: 200px;
  }

  .body3 .container {
    min-width: 200px;
  }

  .body3 .tarjeta-pasaje {
    width: 200px;
    min-width: 200px;
  }
}

@media (max-width: 480px) {
  html,
  body {
    font-size: 16px;
  }

  .buscador-wrap {
    position: relative;
    max-width: 400px;
    margin: auto;
  }

  .search-card {
    position: relative;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 24px;
    border-radius: 22px;
  }

  .search-card label {
    text-align: center;
  }

  select,
  input,
  .select-display {
    padding: 12px 14px;
    border-radius: 12px;
  }

  .suse-mono {
    font-size: 18px;
  }

  .swap {
    padding: 8px 12px;
    border: 1px var(--gris-claro);
    border-radius: 12px;
    font-size: 18px;
  }

  .checkbox {
    justify-content: center;
  }

  .btn-lupa img {
    width: 50px;
    height: 50px;
  }

  .perfil-dropdown {
    top: 58px;
    right: 0;
  }
}

@media (max-width: 600px) {
  .logo img {
    width: 120px;
  }

  .auth .btn {
    font-size: 13px;
    padding: 1px 10px;
  }

  .perfil-icono img {
    width: 42px;
    height: 42px;
  }

  .perfil-dropdown {
    top: 45px;
    width: 120px;
    padding: 8px;
  }

  .search-card {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 50px 15px;
    width: 100%;
    margin: auto;
  }

  .btn-lupa {
    right: 20px;
  }

  .field {
    text-align: left;
    width: 100%;
  }

  select,
  input,
  .select-display {
    font-size: 14px;
  }

  .swap {
    justify-self: center;
    margin: 10px;
  }

  .info-grid {
    grid-template-columns: 1fr;
    text-align: left;
    font-size: 14px;
  }

  .lista-vuelos {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .tarjeta-vuelo {
    font-size: 14px;
    padding: 12px;
  }

  h2,
  label,
  button,
  p {
    font-size: 15px;
  }

  .body1,
  .body2,
  .body3 {
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
  }

  .info-bar {
    flex-wrap: wrap;
  }

  .info-bar select {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .search-card {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 50px 15px;
    width: 100%;
  }

  .field {
    width: 100%;
  }

  select,
  input,
  .select-display {
    font-size: 15px;
    text-align: left;
  }

  .logo img {
    width: 160px;
  }

  .auth .btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .perfil-icono img {
    width: 50px;
    height: 50px;
  }

  .btn-lupa {
    right: 20px;
  }
}

